<h1> {{title}}</h1>
<h2> Listing </h2>
<table class = "table table-bordered table-hover"> 
<thead>
	<tr>
		<th> Images</th>
		<th> Price Range </th>
		<th> Address</th>
		<th>Posted By</th>
	</tr>
<tbody>
 <tr> 
 	<td> <img src="{{list.image}}"> </td>
 	<td> {{list.price}}</td>
 	<td>{{list.address}}</td> 
 	<td> {{list.createdBy}}</td>
 	<td> <a href="http://localhost:3000/listings/{{slug}}"> View Page</a></td>
 </tr>
</tbody>
</table>
<h3> Comments </h3>
Add Comment: <input id = "newComment" name="newComment">
<input id = "listing" type="hidden" name="listing" value="{{list.slug}}">
<input type = "button" id="commentSubmit" type="submit" name="submit comment">
<div id = 'commentSection'> </div>
<script src = '/javascripts/commentA.js'></script> //* Modify DOM to Input Text Input to Create Comment *//