<h1> {{title}}</h1>
<h2> My Listings </h2>
<table class = "table table-bordered table-hover"> 
<thead>
	<tr>
		<th> Images</th>
		<th> Price Range </th>
		<th>Title</th>
		<th>Posted By</th>
	</tr>
<tbody>
{{#each list}}
 <tr> 
 	<td> <img src="{{this.image}}"> </td>
 	<td> {{this.price}}</td>
 	<td>{{this.address}}</td> 
 	<td> {{this.createdBy}}</td>
 	<td> <a href="http://localhost:3000/listings/{{slug}}"> View Page</a></td>
 </tr>
{{/each}}
</tbody>
</table>