<h1> {{title}}</h1>
<h2> Listing </h2>
<table class = "table table-bordered table-hover "> 
<thead>
	<tr>
		<th> Images</th>
		<th> Price Range </th>
		<th> Title</th>
		<th>Posted By</th>
	</tr>
<tbody>
 <tr> 
 	<td> <img src="{{list.image}}"> </td>
 	<td> {{list.price}}</td>
 	<td>{{list.address}}</td> 
 	<td> {{list.createdBy}}</td>
 	<td> <a href="http://localhost:3000/listings/{{slug}}"> View Page</a></td>
 </tr>
</tbody>
</table>
<h3> Comments </h3>
<div class="row">
	<div class="col-md-8">
		<input class="form-control" id = "newComment" name="newComment" placeholder="Comment">
		<input id = "listing" type="hidden" name="listing" value="{{list.slug}}">
		<input class="btn btn-default col-md-4" type = "button" id="commentSubmit"  name="submit comment" value="Submit Comment">
	</div>
</div>
<div class='container center-block'>
	<div  class="col-md-10 container comments center-block" id = 'commentSection' class = 'content'> </div>
</div>
<script src = '/javascripts/commentA.js'></script>