<h2>{{username}}'s Works</h2>
{{#if showForm}}
<p>Add a Listing...</p>
<div class='container'>
	<form method="POST" action="/image/create">
		Image URL: <input type="url" name="url" value="">
		Price: <input name="price">
		Title:<input name = "address">
		<input type="hidden" name="createdBy" value="{{username}}"">
		<input class="btn" type="submit">
	</form>
</div>
{{/if}}


<table class = "table table-bordered table-hover"> 
<thead>
	<tr>
		<th> Images</th>
		<th> Price Range </th>
		<th> Title</th>
		<th>Page</th>
	</tr>
<tbody>
{{#each listings}}
 <tr> 
 	<td> <div class='sizefx'><img src="{{this.image}}"> </div></td>
 	<td>$ {{this.price}}</td>
 	<td>{{this.address}}</td> 
 	<td> <a href="http://localhost:3000/listings/{{slug}}"> View Page</a></td>
 </tr>
{{/each}}
</tbody>
</table>